.commentWrapper {}

.paginationWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;

}

.noDataWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 118px;

  .noDataImg {}

  .noInfo {
    display: inline-block;
    height: 27px;
    font-size: 20px;
    font-family: PingFang SC;
    font-weight: normal;
    color: rgba(180, 181, 193, 1);
    margin-left: 10px;
  }
}