.defaultStyle{
    max-width: 100%;
    min-width: 32px;
    margin: 12px 12px 0px 0px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    user-select: none;
    .content {
      padding: 0px 24px;
      line-height: 40px;
      box-sizing: border-box;
      overflow:hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      -o-text-overflow:ellipsis;
      border-radius: 50px;
      font-size: 16px;
      background: rgba(247,248,250,1);
    }
    &.before {
      &::before {
        content: '';
        display: block;
        height: 20px;
        border-left: 2px solid #FA2C19;
        position: absolute;
        left: -7px;
        top: 10px;
      }
    }
    &.after {
      &::after {
        content: '';
        display: block;
        height: 20px;
        border-left: 2px solid #FA2C19;
        position: absolute;
        right: -7px;
        top: 10px;
      }
    }
    &.dragging {
      //display: none;
    }
}
