.cardLabel{
    margin: 9px 0px;
    cursor: pointer;
    span{
        height: 20px;
        padding: 0px 6px;
        background: #F7F8FA;
        border-radius: 10px;
        font-size: 12px;
        margin-right: 2px;
        font-family: PingFang SC;
        font-weight: normal;
        color: rgba(119,121,142,1);
    }
}